
name: Validate CI

# Controls when the workflow will run
on:
  push:
    branches:
      - K8S-3996-experimental-ci-pipeline
    # Ignore anything unrelated to a chart release
    paths-ignore:
      - 'charts/couchbase-operator/examples/**'
      - 'assets/**'
      - 'tools/**'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install Helm
        uses: azure/setup-helm@v4.3.0
        with:
          version: v3.17.0

      - name: Install helm unittest plugin
        run: helm plugin install https://github.com/vbehar/helm3-unittest

      - name: Create k8s Kind Cluster
        uses: helm/kind-action@v1.12.0

      - name: Lint chart
        run: helm lint charts/couchbase-operator

      - name: Unit test the chart
        run: helm unittest charts/couchbase-operator

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.7.0

      - name: Run chart-testing (lint)
        run: ct lint --config .github/chart-testing/ct-config.yaml

      - name: Validate chart install
        run: ct install --chart-dirs $GITHUB_WORKSPACE --config .github/chart-testing/ct-config.yaml --charts charts/couchbase-operator
